.tooltip {
    position: absolute;
    width: 89%;
    display: inline-block;
    bottom: 110px;
    font-weight: 500;
    letter-spacing: -0.04em;
    padding: 1em;
    border-radius: 7px;
    background-color: var(--color);
    left: 50%; /* Начинаем тултип с левого края экрана */
    transform: translate(-50%);
    z-index: 1;
}

.tooltip::before,
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 1.6em;
    width: 1.6em;
}

.tooltip::before {
    left: calc(var(--percent) - 1.59em);
    background-image: radial-gradient(circle at 0% 100%, transparent 1.6em, var(--color) calc(1.6em + 1px));
}

.tooltip::after {
    left: var(--percent);
    background-image: radial-gradient(circle at 100% 100%, transparent 1.6em, var(--color) calc(1.6em + 1px));
}
