.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: #090909;
    padding: 20px 24px 0 24px;
    /*overflow: hidden;*/
}

.listLikes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding-bottom: 16px;
    overflow-y: auto;
    gap: 16px;
}

.title {
    color: #EFEFEF;
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
}

.name {
    color: #EFEFEF;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
