.buttonContainer {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    pointer-events: auto
}

.button {
    width: 52px;
    height: 52px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

@media screen and (max-width: 360px) {
    .button {
        width: 42px;
        height: 42px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
}

@media screen and (max-width: 310px) {
    .button {
        width: 32px;
        height: 32px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
    }
}
