.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 32px;
    padding: 24px;
    overflow: hidden;
}

.title {
    color: white;
    font-weight: 600;
    /*line-height: 49px;*/
    letter-spacing: -0.04em;
}

.subTitle {
    color: #8F8F8F;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.04em;
    padding-top: 1rem;
}

.buttonContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
