:root {
    font-family: Onest, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    /*letter-spacing: -0.04em;*/
    color: #FFFFFF;
    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

/*h1 {*/
/*  font-size: 3.2em;*/
/*  line-height: 1.1;*/
/*}*/
button {
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
}

/*button:active {*/
/*    opacity: 0.7;*/
/*}*/

.iconContainer {
    position: absolute;
    width: 88px;
    height: 88px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 7px;
    border-width: 3px;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: black;
    z-index: 3;
}

.footerButton {
    width: 100%;
    height: 53px;
    border-radius: 16px;
    border: 1px solid transparent;
    /*padding: 0.5em;*/
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #EFEFEF;
    background-color: #286EF2;
    cursor: pointer;
    transition: border-color 0.25s;
}


/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/
.hashButton {
    display: inline-flex;
    align-self: flex-start;
    border-radius: 100px;
    border: none;
    background-color: #FFFFFF1F;
    color: #EFEFEF;
    padding: 10px 16px;
}

/*@media (prefers-color-scheme: light) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
.icon-container {
    position: relative;
    display: inline-block;
    margin: 50px;
}

.icon-style {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: #505054 1.2px solid;
    background-color: transparent;
    /*padding: 7px;*/
    /*text-decoration: none*/
}

.tooltip {
    position: absolute;
    bottom: 50px; /* Отступ от иконки */
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px; /* Закругляем углы */
    text-align: center;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.tooltip.active {
    opacity: 1;
    pointer-events: auto;
}

/* Создаем "хвостик" */
.tooltip::before {
    content: '';
    position: absolute;
    bottom: -10px; /* Позиционирование под тултипом */
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%; /* Закругленная форма для хвостика */
}

.blur {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    display: flex;
    flex-direction: column;
    /*background: inherit; !* Унаследовать фон родителя *!*/
    filter: blur(5px); /* Размытие */
    /*z-index: 2; !* Поместить под контентом *!*/
}

select {
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    outline: none;
}

option {
    color: #FFFFFF; /* Цвет текста для опций */
    background-color: #000000; /* Цвет фона для опций */
}

/*option:root {*/
/*    background-color: #555555; !* Фон для выбранного элемента *!*/
/*    color: #00FF00; !* Цвет текста для выбранного элемента *!*/
/*}*/

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto !important;
    touch-action: auto !important;
    /*pointer-events: none;*/
    /*padding: 50px;*/
}

.swiper-slide {
    touch-action: auto !important;
}

.swiper-slide div {
    touch-action: auto !important;
    /*display: block;*/
    /*width: 100%;*/
    /*background-color: black;*/
}

.my-swiper {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    /*!*left: 0;*!*/
    /*bottom: 0;*/
    /*!*!*display: flex;*!*!*/
    /*!*align-items: center;*!*/
    /*!*justify-content: center;*!*/
    /*background: linear-gradient(to bottom, rgba(9, 9, 9, 0), rgba(9, 9, 9, 0.8), rgba(9, 9, 9, 1) 70%);*/
    /*z-index: 100;*/
}
